/.idea/
/.DS_Store
/.next/
/node_modules/
/*.tsbuildinfo
.env
!.env.example
/logs/*
!/logs/.gitkeep
/snapshot/

/snapshot/currency-frontend.png
/snapshot/forecast-15d-frontend.png
/snapshot/landscape-frontend.png
/snapshot/portrait-frontend.png
