/.idea/
/.DS_Store
/.next/
/node_modules/
/*.tsbuildinfo
.env
!.env.example
/logs/*
!/logs/.gitkeep
/site/snapshot/hourly-export.log
/site/snapshot/hourly-export-error.log

/snapshot/currency-frontend.png
/snapshot/forecast-15d-frontend.png
/snapshot/landscape-frontend.png
/snapshot/portrait-frontend.png
